<!--
   index.html
   
-->

<html>
  <head>
    <title>Clean Rover</title>
    <link rel="stylesheet" href='../static/style.css'/>
    <style>
		body {
			text-align: center;
		}
    </style>
  </head>
  <body>
    <h1>Clean Rover</h1>
    <h3><img src="{{ url_for('video_feed') }}" width="50%"></h3>
    <hr>
	<h3> Return to main page ==> <a href="http://192.168.0.211/"class="button">RETURN</a></h3>	
	<hr>

 <!-- <BR CLEAR="LEFT"><input type='button'  name='detener' align="right" value='Luz UVC' style='width: 80px; height:40px'>
  <p>

  <input type="image" src="flecha_arriba.PNG"  width="100px" height="100px">

  </p>
  
  <p> <input type="image" src="flecha_izquierda.PNG" width="100px" height="100px">

  <input type='button'  name='detener' align="up" value='DETENER' style='width: 100px; height:100px'> 
  <input type="image" src="flecha_derecha.PNG"  width="100px" height="100px"></p>


  <p><input type="image" src="flecha_abajo.PNG"  width="100px" height="100px"></p>-->
  
	<p> @2020 Desarrollado por Kevin Garcia, Ing. Civil en Electrónica UTEM</p>
  </body>
</html>
